html {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 900px;
    padding: 0 1em;

}

img {
    width: 100%;
}


h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: blueviolet;
}

p {
    text-align: left;
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: gray;
}

footer {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
