<!DOCTYPE html>
<html lang="en">

{{template "header.html"}}
<body>
<!-- Header -->
<!--  List of recent articles 5 ? -->
<div class="articles">
    {{range .}}
    <div class="article">
        <p class="subtext"> Published: {{.WrittenOn}}</p>
        <a href="/view/{{removePunctuation .Title}}"><h2>{{.Title}}</h2></a>
        <a href="/view/{{removePunctuation .Title}}"> <img src="{{.HeroImage}}" alt="image"/></a>
        <p>{{.Summary}} [<a class="read-more-links" href="/view/{{removePunctuation .Title}}">Read More</a>]</p>
        <p class="subtext"> Written by: {{.Author}}</p>
    </div>
    {{end}}
</div>
<!--Email subscription -->
</body>
</html>
