<!DOCTYPE html>
<html lang="en">

{{template "header.html"}}
<body>
<!-- Header -->
<!--  List of recent articles 5 ? -->
<div class="articles">

    {{range .}}
    <div class="article">
        <a href="/view/{{removePunctuation .Title}}"><h2>{{.Title}}</h2></a>
        <p><img src="{{.HeroImage}}" alt="image"/></p>
        <p>{{.Summary}} [<a class="read-more-links" href="/view/{{removePunctuation .Title}}">Read More</a>]</p>
        <p> {{.Author}}</p>
        <p> {{.WrittenOn}}</p>
    </div>
    {{end}}
</div>
<!--Footer -->
</body>
</html>
